<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>スキル編集</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/new.css" >
</head>
<body>
  <div class="container">
    <header class="header">
      <a class="logo" th:href="@{/learningData/{id}/skill(id=${userId})}">My Portfolio</a>
      <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="ログアウト" class="logout">
      </form>
    </header>
    <main>
      <h2 class="title" th:text="${selectedCategory.name} + 'に項目を追加'"></h2>
      <form class="study-form" th:action="@{/learningData/{userId}/new(userId=${userId})}" th:object="${skillRequest}" th:attr="data-user-id=${userId}" th:method="post" novalidate>
        <input type="hidden" name="createMonth" th:value="${selectedMonth}" />
        <input type="hidden" name="categoryId" th:value="${selectedCategory.id}" />
        <label class="label-subject">項目名</label>
        <input type="text" th:field="*{name}" class="form-control">
        <p class="error-message name-error" th:text="${#fields.hasErrors('name')} ? ${#fields.errors('name')} : ''"></p>
        <div class="form-group-study-time">
          <label class="label-study-time">学習時間</label>
          <div class="form-control">
              <input type="number" th:field="*{studyTime}" min="0" class="number-input">
          </div>
          <label class="label-study-time-minutes">分単位で入力してください</label>
          <p class="error-message studyTime-error" th:text="${#fields.hasErrors('studyTime')} ? ${#fields.errors('studyTime')} : ''"></p>
        </div>  
        <div class="btn">
          <button type="submit" id="modal-open" class="btn-blue">追加する</button>
        </div>
      
        <!-- モーダル表示 -->
        <div id="modal-bg"></div>
        <div id="modal-container" th:classappend="${isSaved} ? 'active' : ''"
            th:data-category-name="${selectedCategory?.name}"
            th:data-item-name="${skillRequest?.name}"
            th:data-study-time="${skillRequest?.studyTime}">
          <p id="modal-message-1" class="modal-text"></p>
          <p id="modal-message-2" class="modal-text"></p>
          <button type="button" id="modal-close">編集ページに戻る</button>
        </div>

      </form>
    </main>

    <footer>
      <p>portfolio site</p>
    </footer>
  </div>
  <script src="/js/new.js"></script>
</body>
</html>