* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  height: 1024px;
  display: flex;
  flex-direction: column; 
  gap: 0; 
  background-color: white;
}

.header {
  width: 1440px;
  height: 120px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1B5678;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  color: #FFFFFF;
}

.logout {
  width: 170px;
  height: 53px;
  border-radius: 4px;
  font-size: 18px;
  background-color: #ffffff;
  cursor: pointer;
  border:none;
}

main {
  width: 1440px;
  height: 864px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

h2 {
  text-align: center;
  margin: 80px 487px 0 487px;
  font-weight: 400;
  font-size: 36px;
  line-height: 48.02px;
}

.study-form {
  width: 480px;
  height: 268px;
  margin: 80px 480px 0 480px;
  display: flex;
  flex-flow: column;
  justify-content:space-around;
  gap: 48px;
}

label {
  display: block;
}

.form-control {
  width: 480px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  line-height: 19px;
}

.form-group-subject {
  width: 480px;
  height: 48px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label-subject {
  width: 85px;
  height: 12px;
  gap: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: gray;
}

.form-group-study-time {
  width: 480px;
  height: 48px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label-study-time {
  width: 61px;
  height: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: gray;
}

.section-6 {
  position: relative;
  border-bottom: 1px solid #ddd;
}

.section-6::before,
.section-6::after {
  position: absolute;
  right: 15px;
  width: 9px;
  height: 6px;
  background-color: gray;
  content: '';
  pointer-events: none;
  transform: translateY(-6px);
}

.section-6::before {
  top: calc(50% - 9px);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.section-6::after {
  bottom: calc(50% - 9px);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.section-6 select {
  appearance: none;
  min-width: 480px;
  height: 36px;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.label-study-time-minutes {
  width: 480px;
  height: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: gray;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-blue {
  width: 268px;
  height: 53px;
  font-size: 18px;
  border-radius: 4px;
  padding: 16px 80px 16px 80px;
  margin: 20px;
  background-color: #1B5678;
  color: #ffffff;
  cursor: pointer;
  border:none;
}


footer {
  width: 1440px;
  height: 40px;
  background-color: #1B5678;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}