<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>スキル</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/skill.css" >
</head>
<body>
  <div class="container">
    <header class="header">
      <a class="logo" th:href="@{/user/{id}/top(id=${userId})}">My Portfolio</a>
      <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="ログアウト" class="logout">
      </form>
    </header>
    <main>
      <div class="wrapper">
        <form id="monthForm" th:action="@{/learningData/{userId}/skill(userId=${userId})}" method="get">
          <select class="month" id="createMonth" name="createMonth" th:data-current-month="${currentMonth}" th:value="${selectedMonth}">
            <option th:each="month : ${dropdownMonths}" 
              th:value="${month}" 
              th:text="${month} + '月'" 
              th:selected="${month == selectedMonth}">
            </option>
          </select>
        </form>        

        <!-- バックエンド -->
        <div class="category">
          <div class="content">
            <div class="title">
              <h2>バックエンド</h2>
              <a class="btn" th:href="@{/learningData/{userId}/new(userId=${userId}, createMonth=${selectedMonth}, categoryId=${T(com.spring.springbootapplication.enums.Category).BACKEND.id})}">項目を追加する</a>
            </div>
            <div class="table">
              <table>
                <tr>
                  <th class="subject">項目名</th>
                  <th class="learning">学習時間</th>
                </tr>
                <tr th:each="skill : ${backendSkills}" id="scllor">
                  <td class="subject-item" th:text="${skill.name}"></td>
                  <td class="learning-time">
                    <form class="edit-form" th:attr="data-user-id=${userId}">
                      <input type="hidden" name="id" th:value="${skill.id}">
                      <input type="hidden" name="createMonth" th:value="${selectedMonth}">
                      <div class="form-control">
                        <input type="number" name="studyTime" th:value="${skill.studyTime}" min="0" class="number-input">
                        <div class="increase-btn"></div> <!-- 上矢印 -->
                        <div class="decrease-btn"></div> <!-- 下矢印 -->
                      </div>
                      <button type="button" class="save">学習時間を保存する</button>
                    </form>
                  </td>
                  <td>
                    <form class="delete-form" th:attr="data-user-id=${userId}">
                      <input type="hidden" name="id" th:value="${skill.id}">
                      <button type="button" name="delete" class="delete">削除する</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <!-- フロントエンド -->
        <div class="category-center">
          <div class="content">
            <div class="title">
              <h2>フロントエンド</h2>
              <a class="btn" th:href="@{/learningData/{userId}/new(userId=${userId}, createMonth=${selectedMonth}, categoryId=${T(com.spring.springbootapplication.enums.Category).FRONTEND.id})}">項目を追加する</a>
            </div>
            <div class="table">

              <table>
                <tr class="table-header">
                  <th class="subject">項目名</th>
                  <th class="learning">学習時間</th>
                </tr>
                <tr class="table-row" th:each="skill : ${frontendSkills}">
                  <td class="subject-item" th:text="${skill.name}"></td>
                  <td class="learning-time">
                    <form class="edit-form" th:attr="data-user-id=${userId}">
                      <input type="hidden" name="id" th:value="${skill.id}">
                      <input type="hidden" name="createMonth" th:value="${selectedMonth}">
                      <div class="form-control">
                        <input type="number" name="studyTime" th:value="${skill.studyTime}" min="0" class="number-input">
                        <div class="increase-btn"></div> <!-- 上矢印 -->
                        <div class="decrease-btn"></div> <!-- 下矢印 -->
                      </div>
                      <button type="button" class="save">学習時間を保存する</button>
                    </form>
                  </td>
                  <td>
                    <form class="delete-form" th:attr="data-user-id=${userId}">
                      <input type="hidden" name="id" th:value="${skill.id}">
                      <button type="button" name="delete" class="delete">削除する</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- インフラ -->
        <div class="category">
          <div class="content">
            <div class="title">
              <h2>インフラ</h2>
              <a class="btn" th:href="@{/learningData/{userId}/new(userId=${userId}, createMonth=${selectedMonth}, categoryId=${T(com.spring.springbootapplication.enums.Category).INFRA.id})}">項目を追加する</a>
            </div>
            <div class="table">

              <table>
                <tr class="table-header">
                  <th class="subject">項目名</th>
                  <th class="learning">学習時間</th>
                </tr>
                <tr class="table-row" th:each="skill : ${infraSkills}">
                  <td class="subject-item" th:text="${skill.name}"></td>
                  <td class="learning-time">
                    <form class="edit-form" th:attr="data-user-id=${userId}">
                      <input type="hidden" name="id" th:value="${skill.id}">
                      <input type="hidden" name="createMonth" th:value="${selectedMonth}">
                      <div class="form-control">
                        <input type="number" name="studyTime" th:value="${skill.studyTime}" min="0" class="number-input">
                        <div class="increase-btn"></div> <!-- 上矢印 -->
                        <div class="decrease-btn"></div> <!-- 下矢印 -->
                      </div>
                      <button type="button" class="save">学習時間を保存する</button>
                    </form>
                  </td>
                  <td>
                    <form class="delete-form" th:attr="data-user-id=${userId}">
                      <input type="hidden" name="id" th:value="${skill.id}">
                      <button type="button" name="delete" class="delete">削除する</button>
                    </form>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- モーダルの表示 -->
      <div id="modal-bg"></div>
      <div id="modal-container" th:classappend="${isSaved} ? 'active' : ''">
        <p id="modal-message"></p>
        <button type="button" id="modal-close">編集ページに戻る</button>
      </div>

    </main>
    <footer>
      <p>portfolio site</p>
    </footer>
  </div>
  <script src="/js/skill.js"></script>
  <script src="/js/skillEdit.js"></script>
  <script src="/js/delete.js"></script>
</body>
</html>