<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>スキル</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/skill.css" >
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="logo">My Portfolio</div>
      <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="ログアウト" class="logout">
      </form>
    </header>
    <main>
      <div class="wrapper">
        <form th:action="@{/learningData/{userId}/skill(userId=${userId})}" method="get">
          <select class="month" id="createMonth" name="createMonth" onchange="this.form.submit()">
            <!-- <option th:each="month : ${#numbers.sequence(1, 12)}"
                th:value="${month}"
                th:text="${month + '月'}"
                th:selected="${month == selectedMonth}">
            </option> -->
          </select>
        </form>
        <div class="category">
          <div class="content">
            <div class="title">
              <h2>バックエンド</h2>
              <!-- <form th:action="@{}" th:method="post"> -->
                <input type="submit" value="項目を追加する" class="btn">
              <!-- </form> -->
            </div>
            <table class="table">
                <tr class="table-header">
                  <td class="subject">項目名</td>
                  <td class="learning">学習時間</td>
                </tr>
                <tr class="table-row" th:each="skill : ${skills}">
                  <td class="subject-item" th:text="${skill.name}"></td>
                  <td class="learning-time">
                    <label class="selectbox-6">
                      <select>
                        <!-- 修正: 動的に 0～100 の選択肢を生成 -->
                        <option th:each="i : ${#numbers.sequence(0, 100, 10)}"
                                th:value="${i}" 
                                th:text="${i}"
                                th:selected="${skill.studyTime == i}"> <!-- デフォルト値を選択 -->
                        </option>
                      </select>
                    </label>
                  </td>
                  <td ><input type="submit" value="学習時間を保存する" class="save"></td>
                  <td ><input type="submit" value="削除する" class="delete"></td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </main>
  
    <footer>
      <p>portfolio site</p>
    </footer>
  </div>
  <script src="/js/skill.js"></script>
</body>
</html>