<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>編集</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/edit.css" >
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="logo">My Portfolio</div>
      <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="ログアウト" class="logout">
      </form>
    </header>
    <main>
      <h2>自己紹介を編集する</h2>
      <form class="selfsheet" th:action="@{/user/{id}/edit(id=${userEditRequest.id})}" th:object="${userEditRequest}" th:method="post" enctype="multipart/form-data">
        <div th:if="${validationError}" th:each="error : ${validationError}">
          <label class="text-danger" th:text="${error}"></label>
        </div>
        <div class="textbox">
          <label class="label-name">自己紹介文</label>
          <textarea class="form-control" id="biography" name="biography" th:text="${userEditRequest.biography}"></textarea>
          <label class="label-name">50文字以上、200文字以下で入力してください</label>
        </div>
        <div class="avater">
          <input type="hidden" th:value="${userEditRequest.id}" name="id">
          <label class="label-avater">アバター画像</label>
          <div class="file-container">
            <label for="form-image" class="file-control-label">画像ファイルを添付する</label>
            <input type="file" class="file-control" id="form-image" name="imageFile" accept="image/*" onchange="updateFileName()">
            <span id="file-name" class="file-name"></span>
          </div>
        </div>
        <input type="submit" value="自己紹介を確定する" class="btn-blue">
      </form>
    </main>
    <footer>
      <p>portfolio site</p>
    </footer>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>