<!DOCTYPE html>
<html>
<head>
  <title>ログイン</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css" >
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="logo">My Portfolio</div>
    </header>
    <main>
      <div th:if="${param.error}">
        <p class="text-danger">メールアドレス、もしくはパスワードが間違っています。</p>
      </div>
      <h2 class="title">ログイン</h2>
      <form th:action="@{/process-login}" th:object="${userLoginRequest}" th:method="post">
        <div class="form-group-address">
          <label class="label-address">メールアドレス</label>
          <input type="email" th:field="*{email}" class="form-control">
        </div>
        <div class="form-group-password">
          <label class="label-password">パスワード</label>
          <input type="password" th:field="*{password}" class="form-control">
        </div>
        <div class="btn">
          <input type="submit" value="ログインする" class="btn-blue">
          <a href="/user/add" class="btn-blue">新規登録する</a>
        </div>
      </form>
    </main>
    <footer>
      <p>portfolio site</p>
    </footer>
  </div>
</body>
</html>