<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Top page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/top.css" >
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="logo">My Portfolio</div>
      <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="ログアウト" class="logout">
      </form>
    </header>
    <main>
      <div class="wrapper">
        <div class="profile">
          <div class="circle">
            <!-- <img th:src="${user != null && user.imageUrl != null ? user.imageUrl : '/images/default-avatar.png'}" alt="User Avatar"> -->
            <img th:src="${user.imageUrl}" alt="User Avatar">
          </div>
          <div class="content">
            <div class="title">
              <h2>自己紹介</h2>
            </div>
            <div class="text-area">
              <p th:text="${user.biography}"></p>
            </div>
            <a th:href="@{/user/{id}/edit(id=${user.id})}" class="btn-blue">自己紹介を編集する</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>portfolio site</p>
    </footer>
  </div>
</body>
</html>