<!DOCTYPE HTML>
<html>
<head>
  <title>top page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/top.css" >
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="logo">My Portfolio</div>
      <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="ログアウト" class="logout">
      </form>
    </header>
    <main>
      <h1>Hello page</h1>
    </main>
    <footer>
      <p>portfolio site</p>
    </footer>
  <div class="container">
</body>
</html>