* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  height: 1024px;
  display: flex;
  flex-direction: column; 
  gap: 0; 
  background-color: white;
}

.header {
  width: 1440px;
  height: 120px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1B5678;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  color: #FFFFFF;
}

.logout {
  width: 170px;
  height: 53px;
  border-radius: 4px;
  font-size: 18px;
  background-color: #ffffff;
  cursor: pointer;
  border:none;
}

main {
  width: 1440px;
  height: 864px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

.title {
  width: 480px;
  height: 48px;
  text-align: center;
  margin: 80px 487px 0 487px;
  font-weight: 400;
  font-size: 36px;
  line-height: 48.02px;
}

.study-form {
  width: 480px;
  height: 268px;
  margin: 80px 480px 0 480px;
  display: flex;
  flex-flow: column;
  /* gap: 48px; */
}

label {
  display: block;
}

.form-control {
  width: 480px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  line-height: 19px;
}

/* .form-group-subject {
  width: 480px;
  height: 48px;
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.label-subject {
  width: 37px;
  height: 12px;
  /* gap: 10px; */
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: gray;
}

.form-group-study-time {
  width: 480px;
  height: 71px;
  display: flex;
  flex-direction: column;
  margin: 48px 0 48px 0;
  /* gap: 10px; */
}

.label-study-time {
  width: 49px;
  height: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: gray;
}

select {
  appearance: none;
  width: 480px;
  /* height: 48px; */
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
}

.custom-select {
  position: relative;
}

.custom-select::before,
.custom-select::after {
  position: absolute;
  right: 15px;
  width: 9px;
  height: 6px;
  background-color: gray;
  content: '';
  pointer-events: none;
}

.custom-select::before {
    top: calc(50% - 13px);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.custom-select::after {
    bottom: calc(50% - 3px);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.label-study-time-minutes {
  width: 480px;
  height: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: gray;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-top: 30px; */
}

.btn-blue {
  width: 268px;
  height: 53px;
  font-size: 18px;
  border-radius: 4px;
  padding: 16px 80px 16px 80px;
  margin: 20px;
  background-color: #1B5678;
  color: #ffffff;
  cursor: pointer;
  border:none;
}

#modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  background-color: rgb(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
}

#modal-bg.active {
  opacity: 1;
  pointer-events: auto;
}

#modal-container {
  width: 640px;
  height: 240px;
  text-align: center;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translate(-50%);
  background: white;
  padding: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

#modal-container.active {
  opacity: 1;
  pointer-events: auto;
}

.modal-text {
  width: 251px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21,09px;
  text-decoration-skip-ink: none;
}

#modal-close {
  width: 192px;
  height: 48px;
  font-size: 14px;
  line-height: 16.41px;
  border-radius: 4px;
  margin-top: 40px;
  background-color: #1B5678;
  color: #ffffff;
  cursor: pointer;
  border:none;
}

footer {
  width: 1440px;
  height: 40px;
  background-color: #1B5678;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}