* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px; 
  height: 1024px;
  display: flex;
  flex-direction: column; 
  gap: 0; 
  background-color: white;
}

.header {
  width: 1440px;
  height: 120px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1B5678;
}

.logo {
  display: flex;
  align-items: center;
  font: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  color: #FFFFFF;
}

.logout {
  width: 152px;
  height: 53px;
  border-radius: 4px;
  font-size: 18px;
  background-color: #ffffff;
  cursor: pointer;
}

footer {
  width: 1440px;
  height: 40px;
  background-color: #1B5678;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}
