<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springbootapplication.dao.CategoryMapper">
    <!-- <select id="findById" parameterType="Integer" resultType="com.spring.springbootapplication.entity.CategoryEntity">
        SELECT c.id, c.name
        FROM categories c
        JOIN learning_data ld ON c.id = ld.category_id
        WHERE ld.user_id = #{userId}
        GROUP BY c.id, c.name
    </select> -->

    <select id="findById" parameterType="int" resultType="com.spring.springbootapplication.entity.CategoryEntity">
        SELECT * FROM categories WHERE id = #{id};
    </select>
</mapper>
