<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.springbootapplication.dao.SkillMapper">

    <!-- 結果マッピング -->
    <resultMap id="SkillResultMap" type="com.spring.springbootapplication.entity.SkillEntity">
        <result property="id" column="id" />
        <result property="createMonth" column="create_month" />
        <result property="name" column="name" />
        <result property="studyTime" column="study_time" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="deletedAt" column="deleted_at" />
        <result property="userId" column="user_id" />
        <result property="categoryId" column="category_id" />
     <!-- 外部キー関連のマッピング -->
        <association property="user" javaType="com.spring.springbootapplication.entity.UserEntity">
            <result property="id" column="user_id" />
            <result property="name" column="user_name" />
        </association>
        <association property="category" javaType="com.spring.springbootapplication.entity.CategoryEntity">
            <result property="id" column="category_id" />
            <result property="name" column="category_name" />
        </association>
    </resultMap>

    <select id="findById" resultMap="SkillResultMap">
        SELECT *
        FROM learning_data
        WHERE id = #{id}
    </select>

    <!-- 指定したカテゴリと月、ユーザーIDでデータを取得 -->
    <select id="findByCategoryAndMonth" resultMap="SkillResultMap">
        SELECT * 
        FROM learning_data 
        WHERE category_id = #{categoryId} 
        AND create_month = #{createMonth} 
        AND user_id = #{userId}
    </select>

    <select id="countByNameUserAndMonth" resultType="int">
        SELECT COUNT(*) 
        FROM learning_data
        WHERE name = #{name} 
        AND user_id = #{userId} 
        AND create_month = #{createMonth}
    </select>

    <insert id="save" parameterType="com.spring.springbootapplication.entity.SkillEntity">
        INSERT INTO learning_data 
            (create_month, name, study_time, user_id, category_id)
        VALUES 
            (#{createMonth}, #{name}, #{studyTime}, #{userId}, #{categoryId})
    </insert>

    <update id="update" parameterType="com.spring.springbootapplication.entity.SkillEntity">
        UPDATE learning_data
        SET
        study_time = #{studyTime}
        WHERE
        id = #{id}
        AND
        user_id = #{userId}
    </update>

    <delete id="delete" parameterType="com.spring.springbootapplication.entity.SkillEntity">
        DELETE FROM learning_data
        WHERE id = #{id} AND user_id = #{userId}
    </delete>

</mapper>